@using Tizzani.BlazorHelpers.BrowserWindow.Models

@if (Dimensions == null)
{
    <p>Loading dimensions...</p>
}
else
{
    <dl>
        <dt>Inner Height</dt>
        <dd>@(Dimensions.InnerHeight)px</dd>
        <dt>Inner Width</dt>
        <dd>@(Dimensions.InnerWidth)px</dd>
        <dt>Outer Height</dt>
        <dd>@(Dimensions.OuterHeight)px</dd>
        <dt>Outer Width</dt>
        <dd>@(Dimensions.OuterWidth)px</dd>
    </dl>
}

@code  {
    [CascadingParameter] private WindowDimensions? Dimensions { get; set; }
}