@page "/fetchdata"

<h1>Cascading Values</h1>

<CascadingWindowDimensions>
    <DimensionsDisplay />
</CascadingWindowDimensions>

<CascadingPageOffset>
    <PageOffsetDisplay />
</CascadingPageOffset>