@page "/fetchdata"

<h1>Cascading Values</h1>

<CascadingBrowserDimensions>
    <DimensionsDisplay />
</CascadingBrowserDimensions>

<CascadingBrowserPageOffset>
    <PageOffsetDisplay />
</CascadingBrowserPageOffset>